<div class="container">
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="home" routerLinkActive = "active">Home</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="citylist" routerLinkActive = "active">City List</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="about" routerLinkActive = "active">About SMART Insights</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="help" routerLinkActive = "active">Help</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="upload" routerLinkActive = "active">Upload a New Data Set</a></li>
    </div>
    <div class="row">
        Compare multiple cities together
    </div>
    <div class="row">
        Download Data
    </div>
    <div class="row">
        Request a new city to be analyzed
    </div>
    <div class="row">
        Request a new feature
    </div>
    <router-outlet></router-outlet>
</div>
