<div class="container">
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="home" routerLinkActive = "active">Home</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="citylist" routerLinkActive = "active">City List</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="about" routerLinkActive = "active">About SMART Insights</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="help" routerLinkActive = "active">Help</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="upload" routerLinkActive = "active">Upload a New Data Set</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="compare" routerLinkActive = "active">Compare Multiple Cities Together</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="download" routerLinkActive = "active">Download Data</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="newcityreq" routerLinkActive = "active">Request a New City to be Analyzed</a></li>
    </div>
    <div class="row">
        <li style="list-style-type: none;"><a routerLink="newfeaturereq" routerLinkActive = "active">Request a New Feature</a></li>
    </div>
    <router-outlet></router-outlet>
</div>
