<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-dark">
    <div class = "container-fluid">
        <a href="#" class="navbar-left">
            <img src="/assets/img/CorporateLogoNTT.jpg" width="125" height="43" alt="NTT Data Logo">
        </a>
        <div class = "navbar-header">
            <a class = "navbar-brand" style="text-align: center;" href = "#">SMART Insights</a>
        </div>
        <ul class = "nav navbar-nav">
            <li><a routerLink="menu" routerLinkActive = "active">Menu</a></li>
        </ul>
    </div>
</nav>
<div class = "container">
    <router-outlet></router-outlet>
</div>
