
<div class="container">
    <div class="row justify-content-center">
        
                <h5 class = "text-center">
                    Enter a city whose data you would like to see, to see all the cities we have, click 
                <a href="/citylist">here</a>.
                </h5>
        
    </div>
</div>

<div class="container">
    <form #cityname="ngForm" (ngSubmit)="logMessage(inputtext.value)" class = "row well" >
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <div class="form-group" >
                <input type="text" 
                    [class.is-invalid]="(inputtext.invalid && inputtext.touched) || !validcity" 
                    id="inputtext" 
                    class="form-control" 
                    name="cityInput" 
                    #inputtext = "ngModel" 
                    required 
                    [(ngModel)] = "cityattempt.citynameentry">
                <!----small class = "text-danger" [class.d-none] = "(inputtext.valid || inputtext.untouched) && validcity">Invalid city - city may not be supported yet.</small>-->
                <div *ngIf="!validcity || (inputtext.invalid && inputtext.touched)">
                    <small class = "text-danger" *ngIf="inputtext.invalid && inputtext.touched">Must enter a city name</small>
                    <small class = "text-danger" *ngIf="!validcity && inputtext.valid">This city is not yet supported</small>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success" [disabled] = "inputtext.invalid">Search</button>
        </div>
        <div class="col-md-2"></div>
    </form>    
</div>
<hr />
<div class="row justify-content-center">
    <agm-map [latitude] = "latitude" [longitude] = "longitude">
            <li *ngFor = "let Location of crimelocations"><a>
                <agm-marker [latitude] = Location.latitude [longitude] = Location.longitude></agm-marker>
                </a></li>
    </agm-map>
    <entry-list [crimelocations]="crimelocations"></entry-list>
</div>
