
<div class="container">
    <div class="row justify-content-center">
        
                <h5 class = "text-center">
                    Enter a city whose data you would like to see, to see all the cities we have, click 
                <a href="/citylist">here</a>.
                </h5>
        
    </div>
</div>

<div class="container">
    <form #cityname="ngForm" (ngSubmit)="logMessage(inputtext.value)" class = "row well" >
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <div class="form-group" >
                <input type="text" 
                    [class.is-invalid]="(inputtext.invalid && inputtext.touched) || !validcity" 
                    id="inputtext" 
                    class="form-control" 
                    name="cityInput" 
                    #inputtext = "ngModel" 
                    required 
                    [(ngModel)] = "cityattempt.citynameentry">
                <!----small class = "text-danger" [class.d-none] = "(inputtext.valid || inputtext.untouched) && validcity">Invalid city - city may not be supported yet.</small>-->
                <div *ngIf="!validcity || (inputtext.invalid && inputtext.touched)">
                    <small class = "text-danger" *ngIf="inputtext.invalid && inputtext.touched">Must enter a city name</small>
                    <small class = "text-danger" *ngIf="!validcity && inputtext.valid">This city is not yet supported</small>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success" [disabled] = "inputtext.invalid">Search</button>
        </div>
        <div class="col-md-2"></div>
    </form>    
</div>
<hr />
<div class="row justify-content-center">
    <agm-map [latitude] = "latitude" [longitude] = "longitude">
            <li *ngFor = "let Location of displayedLocations"><a>
                <agm-marker [latitude] = Location.latitude [longitude] = Location.longitude>
                    <agm-info-window>
                        <b>Crime:</b> {{Location.typeOfCrime}}
                        <b>Date:</b> {{convertDate(Location.date)}}
                    </agm-info-window>
                </agm-marker>
                </a></li>
            <agm-marker [label]="labelOptions" [latitude] = "templatitude" [longitude] = "templongitude"></agm-marker>
    </agm-map>
    <entry-list [crimelocations]="crimelocations"></entry-list>
</div>
<hr />

<div class="container">
        
    <div class="row">
        <div class = "col-md-3"></div>
        <div class = "col-md-6">
        <form #locname="ngForm" (ngSubmit)="geocodeLocation(inputtext1.value)" class="row well">
            <div class="form-group">
                <h5 align="center">Enter a location to visualize crime in a select radius.</h5>
                <div class = "row">
                    <div class = "col-sm-3"></div>
                    <div class = "col-sm-6">
                        <input type="text"
                        [class.is-invalid]="(inputtext1.invalid && inputtext1.touched)"
                        id="inputtext1"
                        class="form-control"
                        name="locInput"
                        #inputtext1="ngModel"
                        required
                        [(ngModel)]="locationattempt.locationnameentry">
                        <div *ngIf="(inputtext1.invalid && inputtext1.touched)">
                            <small class = "text-danger" *ngIf="inputtext1.invalid && inputtext1.touched">Must enter an address</small>
                        </div>
                    </div>
                    <div class = "col-sm-3">
                        <button type="submit"
                        class="btn btn-success"
                        [disabled]="inputtext1.invalid"
                        (click)="showbuttons=true">Find</button>
                    </div>

                </div>
            </div>
        </form>
        <div class = "col-md-3"></div>
    </div>
    </div>
    <div class="row" *ngIf="showbuttons">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <!-- All Crimes -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline1" 
                name="inlineMaterialRadiosExample" (click)="setRadiusAndRenderMap(0)" checked>
                <label class="form-check-label" for="materialInline1">All Crimes</label>
            </div>
  
            <!-- 0.1 Miles -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline2" 
                name="inlineMaterialRadiosExample" (click)="setRadiusAndRenderMap(0.1)">
                <label class="form-check-label" for="materialInline2">0.1 mi</label>
            </div>
  
            <!-- 0.25 Miles -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline3" 
                name="inlineMaterialRadiosExample" (click)="setRadiusAndRenderMap(0.25)">
                <label class="form-check-label" for="materialInline3">0.25 mi</label>
            </div>
            <!-- 0.5 Miles -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline4" 
                name="inlineMaterialRadiosExample" (click)="setRadiusAndRenderMap(0.5)">
                <label class="form-check-label" for="materialInline4">0.5 mi</label>
            </div>
      
            <!-- 1 Mile -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline5" 
                name="inlineMaterialRadiosExample" (click)="setRadiusAndRenderMap(1)">
                <label class="form-check-label" for="materialInline5">1 mi</label>
            </div>
      
            <!-- 2 Miles -->
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" id="materialInline6" 
                name="inlineMaterialRadiosExample" (click)="setRadiusAndRenderMap(2)">
                <label class="form-check-label" for="materialInline6">2 mi</label>
            </div>
        </div>
    </div>
</div>